@import "../../styles/variables.scss";

.header {
  position: relative;
  z-index: 100;
  //
  visibility: hidden;

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem 4.8rem 0;

    .headerLogo {
      font-family: $ffamily-header;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      font-size: 2.4rem;
      color: $color1;
      user-select: none;
      z-index: 2;
    }

    .headerSideContainer {
      display: flex;
      align-items: center;
      gap: 2.4rem;
    }
  }
}

// It has to be seperate because GSAP's CSSRulePlugin.getRule is very speciffic, strict
// https://stackoverflow.com/a/68980918
.headerLinkTest {
  font-family: $ffamily-body;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  color: $color1;
  position: relative;
  z-index: 2;
  padding: 0.4rem 0;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    bottom: 0rem;
    left: 0%;
    width: 100%;
    height: 0.1rem;
    background: $color1;
  }
}
