@import "../../styles/variables.scss";

.nav {
  height: 100vh;
  width: 100%;
  background: #e96d6d;
  background: linear-gradient(45deg, #e96d6d, #dc6e5a, #9c526d);
  position: fixed;
  top: 0;
  left: 0;
  //
  visibility: hidden;
  opacity: 0;

  .navContainer {
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #87dceb, #879eeb, #9070d0);
    position: relative;
    top: 0;
    left: 0;
    //
    visibility: hidden;
    opacity: 0;
    //
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    line-height: 150%;
    font-weight: 700;

    .navCanvasBg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: url("https://cdn.pixabay.com/photo/2016/03/23/22/41/honeycomb-1275805_1280.png")
        center center / cover no-repeat;

      .navCanvas {
        width: 100%;
        height: 100%;
      }
    }

    .imgList {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: -1;
      aspect-ratio: 4/3;
      width: 100vw;
      max-width: calc(100vw - 2 * 4.8rem);

      @media (min-width: 576px) {
        width: 75vw;
      }

      @media (min-width: 992px) {
        width: 50vw;
        max-width: 76.8rem;
      }

      .imgItem {
        .img {
          width: 100%;
          height: 100%;
          aspect-ratio: 4/3;
          object-fit: cover;
          object-position: center center;
          pointer-events: none;
          user-select: none;
          position: absolute;
          //
          visibility: hidden;
          opacity: 0;
        }
      }
    }

    .navWrapper {
      position: relative;
      width: 75%;
      max-width: 120rem;
      display: flex;
      flex-direction: column;
      gap: 8.8rem;
      margin-top: 7rem;

      @media (min-width: 992px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        gap: 0;
        margin-top: 0;
      }

      .contactWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @media (min-width: 992px) {
          align-items: start;
          text-align: left;
        }

        .physicalAddress {
          ul {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            li {
              &:last-child {
                margin-top: 0.8rem;
              }

              .addressLink {
                display: block;
                font-family: $ffamily-header;
                font-style: normal;
                font-weight: 600;
                line-height: 150%;
                font-size: 2.133rem;
                color: $color2;
                text-decoration: underline;
              }

              .addressText {
                display: block;
                font-family: $ffamily-body;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                font-size: 1.6rem;
                color: $color1;
              }
            }
          }
        }

        .socialAddress {
          margin-top: 3.2rem;

          ul {
            display: flex;
            align-items: center;
            gap: 1.6rem;

            img {
              width: 2.4rem;
              height: 2.4rem;
            }
          }
        }
      }

      .linkList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: clamp(3.2rem, 3.5vw + 1rem, 6.4rem);
        order: -1;

        @media (min-width: 992px) {
          align-items: end;
          text-align: end;
          order: 0;
        }

        .linkItem {
          display: flex;

          .link {
            font-family: $ffamily-header;
            font-style: normal;
            font-weight: 700;
            line-height: 125%;
            font-size: clamp(5.052rem, 3vw + 1.6rem, 6.735rem);
            color: $color1;
            user-select: none;
            position: relative;

            &::before {
              content: attr(data-index);
              position: absolute;
              top: -0.8rem;
              left: -1.6rem;
              font-size: 1.4rem;
              line-height: 100%;
              font-weight: 900;
              z-index: -1;
              user-select: none;
              pointer-events: none;
            }
          }

          &:first-child {
            .link {
              &::after {
                content: "Menu";
                position: absolute;
                top: -0.8rem;
                right: 0;
                margin: auto 0;
                text-transform: uppercase;
                z-index: -1;
                user-select: none;
                pointer-events: none;
                font-size: 1.4rem;
                line-height: 100%;
                font-weight: 900;

                @media (min-width: 992px) {
                  top: 0;
                  bottom: 0;
                  right: -4.8rem;
                  writing-mode: vertical-lr;
                  text-orientation: mixed;
                }
              }
            }
          }
        }
      }
    }
  }
}
